footer {
    border-top: 4px solid rgba(0, 190, 232, 1);
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 80px;
    background-color: rgb(21, 28, 47);
    position: relative;
    z-index: 1000;

    >div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 100px;
        padding-right: 100px;
    }
}

.logo {
    cursor: pointer;

    >a {
        display: flex;
        color: white;
        text-decoration: none;
        font-size: 40px;
        font-weight: 700;

        span {
            padding-bottom: 5px;
        }
    }
}

.copyright {
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;

    >span {
        font-size: 18px;
    }
}


.social-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 42px;

    >a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 23px;
        font-weight: 400;
        color: white;
        text-decoration: none;
        cursor: pointer;

        img {
            transition: transform 125ms ease;

            &:hover {
                transform: scale(1.2);
                filter: brightness(0) saturate(100%) invert(47%) sepia(81%) saturate(1427%) hue-rotate(155deg) brightness(104%) contrast(101%);

            }
        }
    }
}

.imprint {

    display: flex;
    padding-top: 0px;

    >a {
        color: white;
        text-decoration: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;

        &:hover {
            color: rgb(0, 190, 232);
        }
    }
}

@media(min-width:2160px) {
    footer {
        padding-left: 20%;
        padding-right: 20%;

        >div {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (max-width: 841px) {
    footer {
        >div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            padding: 0;
        }
    }

    .imprint {
        padding-top: 30px !important;
    }
}