<section>
    <div class="aboutText" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500" data-aos-anchor-placement="top-bottom">
        <h2>About me</h2>
        <div class="textContainer">
            <span>Welcome! As a seasoned Frontend Developer, I specialize in crafting engaging websites and intricate
                web applications using JavaScript and Angular. Dive into my portfolio below to explore a selection of my
                standout projects.</span>
            <br>
        </div>
        <div class="textContainer">
            <div class="imgContainer">
                <img src="/assets/img/about-me/bulb_blue/bulb_1_big.png" alt="Lightbulb">
            </div>
            <div>
                <span>My journey includes over 12 diverse projects, ranging from sleek landing pages to comprehensive
                    web
                    apps, streamlined business tools, and interactive chat messengers.</span>
            </div>
        </div>
        <div class="textContainer">
            <div class="imgContainer">
                <img src="/assets/img/about-me/puzzle_blue/puzzle_blue.png" alt="Puzzlepiece">
            </div>
            <div>
                <span>My journey includes over 12 diverse projects, ranging from sleek landing pages to comprehensive
                    web
                    apps, streamlined business tools, and interactive chat messengers.</span>
            </div>
        </div>
    </div>
    <div class="aboutImage">
        <div class="pictureContainer">
            <div class="myPicture">
            </div>
        </div>
        <div class="blueLine"></div>
    </div>
    <div class="aboutBackground"></div>
</section>