<section>
    <div class="aboutText" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
        data-aos-duration="500" data-aos-anchor-placement="top-bottom">
        <h2>{{ 'ABOUT_ME.TITLE' | translate }}</h2>
        <div class="textContainer">
            <span>{{ 'ABOUT_ME.INTRO_TEXT' | translate }}</span>
            <br>
        </div>
        <div class="textContainer">
            <div class="imgContainer">
                <img src="/assets/img/about-me/bulb_blue/bulb_1_big.png" alt="Lightbulb">
            </div>
            <div>
                <span>{{ 'ABOUT_ME.HISTORY_TEXT' | translate }}</span>
            </div>
        </div>
        <div class="textContainer">
            <div class="imgContainer">
                <img src="/assets/img/about-me/puzzle_blue/puzzle_blue.png" alt="Puzzlepiece">
            </div>
            <div>
                <span>{{ 'ABOUT_ME.BACKGROUND_TEXT' | translate }}</span>
            </div>
        </div>
    </div>
    <div class="aboutImage">
        <div class="pictureContainer">
            <div class="myPicture">
            </div>
        </div>
        <div class="blueLine"></div>
    </div>
    <img class="aboutBackground"src="/assets/img/blur-shapes/part_2.png" alt="">
</section>