<section>
    <div><app-navbar></app-navbar></div>

    <div class="landingPage">
        <div class="lpImage">
            <div class="myImageContainer">
                <img src="/assets/img/.jpg" alt="">
            </div>
        </div>
        <div class="lpText">
            <div class="myNameContainer">
                <div class="titleOne">
                    <span>I am</span>
                </div>
                <div>
                    <div class="titleTwo">
                        <span>Aristotelis Stratis</span>
                    </div>
                    <div class="titleThree">
                        <span>FRONTEND DEVELOPER</span>
                    </div>
                </div>
            </div>

            <div class="letsTalkContainer">
                <button class="letsTalkButton">Let's talk!</button>
            </div>
        </div>
    </div>



</section>