<section id="header">
  <app-navbar></app-navbar>
  <div class="landingPage">
    <div class="lpImage">
      <div class="myImageContainer">
        <img class="myPortrait" src="/assets/img/portrait/2.2.png" />
      </div>
    </div>
    <div class="lpText">
      <div class="myNameContainer">
        <div class="titleOne">
          <span>{{ 'LANDING_PAGE.I_AM' | translate }}</span>
        </div>
        <div>
          <div class="titleTwo">
            <span>Aristotelis Stratis</span>
          </div>
          <div class="titleThree">
            <span>{{ 'LANDING_PAGE.JOB_TITLE' | translate }}</span>
          </div>
        </div>
      </div>

      <div class="letsTalkContainer">
        <a href="#contact"
          ><button class="letsTalkButton">{{ 'LANDING_PAGE.CONTACT_ME' | translate }}</button></a
        >
      </div>
    </div>
  </div>
  <div class="landingPageBackground"></div>
  <div class="socials">
    <div class="socialsContainer">
      <div class="blueLine"></div>
      <div class="social-links">
        <a href="https://github.com/Aristotelis-Stratis" target="_blank"
          ><img src="/assets/img/buttons/Github.png" alt="Github"
        /></a>
        <a href="mailto:stratis.dev@outlook.com" target="_blank"
          ><img src="/assets/img/buttons/Email.png" alt="Email"
        /></a>
        <a
          href="https://www.linkedin.com/in/aristotelis-stratis-9647002b8"
          target="_blank"
          ><img src="/assets/img/buttons/LinkedIn.png" alt="LinkedIn"
        /></a>
        <a class="myEmail" href="#contact"
          ><span>stratis.dev&#64;outlook.com</span></a
        >
      </div>
    </div>
    <div class="scroll-down">
      <span>{{ 'LANDING_PAGE.SCROLL_DOWN' | translate }}</span>
      <img src="/assets/img/shapes/arrow_down.png" alt="Arrow downwards" />
    </div>
  </div>
</section>
