<section>
    <div><app-navbar></app-navbar></div>

    <div class="landingPage">
        <div class="lpImage">
            <div class="myImageContainer">
                <!-- inline style entfernen bei richtigem Foto style="margin-top: 150px;" -->
                <img src="/assets/img/stockphoto.png" alt="">
            </div>
        </div>
        <div class="lpText">
            <div class="myNameContainer">
                <div class="titleOne">
                    <span>I am</span>
                </div>
                <div>
                    <div class="titleTwo">
                        <span>Aristotelis Stratis</span>
                    </div>
                    <div class="titleThree">
                        <span>FRONTEND DEVELOPER</span>
                    </div>
                </div>
            </div>

            <div class="letsTalkContainer">
                <button class="letsTalkButton">Let's talk!</button>
            </div>
        </div>
        <div class="landingPageBackground">
        </div>
    </div>

    <div class="socials">
        <div class="blueLine"></div>
        <div class="social-links">
            <!-- Links einfügen -->
            <a href="https://github.com/Aristotelis-Stratis" target="_blank"><img src="/assets/img/buttons/Github.png" alt="Github"></a>
            <a href="mailto:stratis.dev@outlook.com" target="_blank"><img src="/assets/img/buttons/Email.png" alt="Email"></a>
            <a href="https://www.linkedin.com/in/aristotelis-stratis-9647002b8" target="_blank"><img src="/assets/img/buttons/LinkedIn.png" alt="LinkedIn"></a>
            <a class="myEmail"href=""><span>stratis.dev&#64;outlook.com</span></a>
        </div>
    </div>

    <div class="scroll-down">
        <span>Scroll down</span>
        <img src="/assets/img/shapes/arrow_down.png" alt="Arrow downwards">
    </div>
</section>