section {}

.landingPage {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    padding-left: 47px;
    padding-right: 47px;
    align-items: center;
    justify-content: center;
}

.myImageContainer {
    background-image: url('/assets/img/blur-shapes/part_1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 705px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lpImage {
    width: 40%;
}

.lpText {
    display: flex;
    align-items: center;
    width: 60%;
    height: 705px;
    flex-direction: column;
    justify-content: center;
    z-index: 1001;
}

.myNameContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 172px;
}

.titleOne {
    display: flex;
    height: 100%;
}

.titleOne span {
    display: inline-block;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: 67px;
    font-weight: 400;
}

.titleTwo span {
    font-size: 73px;
    font-weight: 700;
    line-height: 108px;
}

.titleThree span {
    font-size: 60.4px;
    font-weight: 400;
    color: rgba(75, 71, 255, 1);
    line-height: 69.6px;
}

.letsTalkContainer {
    display: flex;
    box-sizing: border-box;
    padding-top: 60px;
}

.letsTalkButton {
    background-color: rgba(0, 190, 232, 1);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    font-family: 'Poppins';
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: background-color 0.2s ease, padding 0.2s ease, margin 0.2s ease;

    &:hover {
        background-color: rgba(75, 71, 255, 1);
        padding: 20px 40px;
        margin: -5px -8px;
    }
}

.landingPageBackground {
    /* border: 2px solid red; */
    height: 950px;
    width: 100%;
    background-image: url(/assets/img/fold.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 300px;
    display: flex;
    z-index: 999;
    /*NEEDS ADJUSTMENT WITH REAL PICTURE*/
}

.socials {
    // border: 2px solid yellow;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    z-index: 1001;
    height: 40px;
    margin-top: 170px;
}

.social-links {
    display: flex;
    position: relative;
    left: 120px;
    align-items: center;
    justify-content: space-evenly;
    gap: 42px;

    >a {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 23px;
        font-weight: 400;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    &:hover {}
}

.blueLine {
    background-color: rgb(75, 71, 255);
    width: 100px;
    height: 4px;
}

.scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    font-size: 23px;
    font-weight: 400;
    color: white;
    position: absolute;
    z-index: 1001;
    right: 100px;
    height: 160px;
    bottom: 100px;
    gap: 5px;
}


@media (max-width: 841px) {
    .socials {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
    }

    .myImageContainer {
        background-size: 450px;
        height: 400px;
        margin-top: 20px;
    }

    .myImageContainer img {
        height: 100%;
    }

    .lpImage {
        width: 100%;
        height: 100%;
    }

    .landingPage {
        flex-direction: column;
        padding: 0;
    }

    .landingPageBackground {
        top: 285px;
        height: 450px;
        // border: 2px solid red;
    }

    .lpText {
        // border: 2px solid red;
        height: unset;
        width: 100%;
    }

    .myNameContainer {
        height: unset;
        justify-content: center;
    }

    .socials {
        margin-top: 35px;
    }

    .social-links {
        flex-direction: row;
        position: unset;
    }

    .blueLine {
        position: absolute;
        left: 0;
        width: 15%;
    }

    .scroll-down {
        display: none;
    }

    .titleOne {
        align-items: center;
    }

    .titleOne span {
        font-size: 25.5px;
        padding-top: 5px;
    }

    .titleTwo span {
        font-size: 30.5px;
        line-height: 26px;
    }

    .titleThree span {
        font-size: 25.2px;
        line-height: 33.5px;
    }

    .letsTalkContainer {
        padding-top: 25px;
    }

    .letsTalkButton {
        padding: 10px 20px;
        font-size: 16px;

        &:hover {
            padding: 10px 30px;
            margin: 0px 0px;
        }
    }

    .myEmail {
        display: none !important;
    }

}