.project {
    // border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 100px;
    position: relative;
    z-index: 1000;
}

.flexRow {
    flex-direction: row;
}

.flexRowReverse {
    flex-direction: row-reverse;
}

.textLeft {
    align-items: start;
    text-align: left;
}

.textRight {
    align-items: end;
    text-align: right;
}

.projectImage {
    width: 550px;
    height: 100%;
    // border: 2px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;

    >img {
        width: 550px;
    }
}

.projectText {
    height: 100%;
    width: 500px;
    // border: 2px solid red;
    box-sizing: border-box;
    padding-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.projectTitle {
    >span {
        color: rgba(75, 71, 255, 1);
        font-size: 32px;
        font-weight: 700;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;

    }
}

.projectStack {
    >span {
        color: rgba(0, 190, 232, 1);
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
    }
}

.projectDescription {
    >span {
        color: white;
        font-weight: 400;
        font-size: 16px;
        line-height: 19.2px;
    }
}

.projectButtonContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: start;
    gap: 80px;
    margin-top: 25px;

    >button {
        cursor: pointer;
        color: white;
        border-radius: 10px;
        padding: 15px 30px 15px 30px;
        gap: 10px;
        font-size: 23px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

        &:hover {
            background-color: rgba(0, 190, 232, 1);
        }
    }
}

.testButton {

    width: 152px;
    height: 58px;
    border: none;
    background-color: rgba(75, 71, 255, 1);
}

.githubButton {

    width: 137px;
    height: 58px;
    border: 1px solid rgba(0, 190, 232, 1);
    background-color: rgba(20, 29, 47, 1);
}

.reverse {
    >.project {
        flex-direction: row-reverse;
    }

}

@media(max-width:1241px) {
    section {
        padding: 0px 50px;
    }

    .project {
        gap: 0;
    }

    .projectText {
        width: 400px;
    }

    .projectImage {
        >img {
            width: 450px;
        }
    }
}

@media(max-width:841px) {

    .flexRow,
    .flexRowReverse {
        flex-direction: column;

    }

    .textLeft,
    .textRight,
    .projectText {
        align-items: center;
    }

    .projectText {
        width: 450px;
        padding-top: 0;
    }

    .projectImage {
        width: unset;
        >img {
            width: 350px;
        }
    }

    .projectDescription {
        text-align: center;
    }

    .projectButtonContainer {
        gap: 50px;

        >button {
            padding: 10px 20px;
            font-size: 16px;
        }
    }

    .testButton {
        width: 122px;
        height: 48px;
    }

    .githubButton {
        width: 102px;
        height: 48px;
    }
}

@media(max-width:600px) {
    .projectText {
        width: 350px;
    }
}

@media (max-width: 425px) {
    .projectButtonContainer {
        gap: 25px;
    }

    .projectImage {
        >img {
            width: 300px;
        }
    }

    .projectText {
        width: 300px;
    }
}