section {
    position: relative;
    box-sizing: border-box;
    margin-top: 109px;
    padding: 50px 100px;
    z-index: 1000;
}

h1 {
    font-size: 66px;
    margin-block-end: 40px;
}

.landingPageBackground {
    height: 970px;
    width: 100%;
    max-width: 1920px;
    background-image: url('/assets/img/fold.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 300px;
    display: flex;
    z-index: 999;
}

h2,
h3 {
    margin-block-start: 20px;
}

h4 {
    margin-block-start: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 999px) {
    h1 {
        font-size: 48px;
    }
}

@media(max-width: 841px) {

    section {
        padding: 50px 30px;
    }

    .landingPageBackground {
        top: 285px;
        height: 450px;
    }
}

@media (max-width: 655px) {
    h1 {
        font-size: 29px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 19px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 17px;
    }

    p {
        font-size: 14px;
    }
}