<app-navbar></app-navbar>
<section>
  <h1>{{ "IMPRINT.TITLE" | translate }}</h1>

  <h2>{{ "IMPRINT.TMG_INFO" | translate }}</h2>

  <h3>{{ "IMPRINT.POSTAL_ADDRESS" | translate }}</h3>
  <p>Aristotelis Stratis <br /> Am Exer 5 <br /> 24340 Eckernförde</p>

  <h2>{{ "IMPRINT.CONTACT" | translate }}</h2>
  <p>
    {{ "IMPRINT.PHONE" | translate }}: +491719942136<br />
    {{ "IMPRINT.EMAIL" | translate }}: stratis.dev&#64;outlook.com
  </p>

  <h3>{{ "IMPRINT.WEBSITE_NOTICE" | translate }}</h3>
  <p>
    {{ "IMPRINT.IMPRINT_GENERATOR" | translate }}
    <a href="https://www.e-recht24.de">e-recht24.de</a>
  </p>
</section>
<div class="landingPageBackground"></div>
