section {
    position: relative;
    box-sizing: border-box;
    margin-top: 109px;
    padding: 50px 100px;
    z-index: 1000;
    min-height: 80vh;
    width: 100vw;
    max-width: 1920px;
    display: flex;

    >div {
        width: 100%;
    }
}

h1 {
    font-size: 90px;
    margin-block-end: 40px;
}

.lpBackground {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    z-index: 999;
    top: 490px;
}

h2,
h3 {
    margin-block-start: 20px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 1110px) {
    h1 {
        font-size: 66px;
    }
}

@media(max-width: 841px) {
    section {
        padding: 50px 25px;
    }

    h1 {
        font-size: 66px;
    }
}

@media (max-width: 425px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 20px;
    }
}