<app-navbar></app-navbar>
<section>

    <h1>Imprint</h1>

    <h2>Information according to § 5 TMG</h2>

    <h3>Postal address</h3>
    <p>Aristotelis Stratis <br />
        Am Exer 5 <br />
        24340 Eckernf&ouml;rde</p>

    <h2>Contact</h2>
    <p>Phone: +491719942136<br />
        E-Mail: stratis.dev&#64;outlook.com</p>

    <h3>Website Notice</h3>
    <p>The imprint was created with the imprint generator of <a href="https://www.e-recht24.de">e-recht24.de</a></p>


</section>
<div class="landingPageBackground">
</div>