<section>
    <div class="portfolioHeader">
        <div class="headerTitle">
            <h2>{{ 'HEADER.PORTFOLIO' | translate }}</h2>
        </div>
        <div class="blueLine"></div>
        <div class="headerCaption">
            <p>{{ 'MY_PORTFOLIO.TEXT' | translate }}</p>
        </div>
    </div>

    <div class="myPortfolio">
        <app-project *ngFor="let project of projects" [project]="project"></app-project>
    </div>
    <div class="portfolioFirstBackground"></div>
    <div class="portfolioSecondBackground"></div>
</section>
