<section>
    <div class="myDevStack">
        <div class="stack" *ngFor="let skill of skills">
            <img src="assets/img/icons/{{skill.icon}}" alt="{{skill.name}}">
            <span>{{skill.name}}</span>
        </div>
    </div>

    <div class="mySkillsContainer" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine" data-aos-duration="500">
        <div class="mySkills">
            <h2>My skills</h2>
            <p>I have grown my frontend development skills that have allowed me to create different real projects.</p>
            <div class="getInTouchContainer">
                <button class="getInTouchButton">Get in touch</button>
            </div>
        </div>
    </div>
    <div class="blueLine"></div>
    <div class="mySkillsBackground"></div>
</section>