<section>
    <div class="myDevStack">
        <div class="stack" *ngFor="let skill of skills">
            <img src="assets/img/icons/{{skill.icon}}" alt="{{skill.name}}">
            <span>{{skill.name}}</span>
        </div>
    </div>

    <div class="mySkillsContainer" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500">
        <div class="mySkills">
            <h2>{{ 'MY_SKILLS.TITLE' | translate }}</h2>
            <p>{{ 'MY_SKILLS.TEXT' | translate }}</p>
            <div class="getInTouchContainer">
                <a href="#contact"><button class="getInTouchButton">{{ 'MY_SKILLS.GET_IN_TOUCH' | translate }}</button></a>
            </div>
        </div>
        <div class="blueLine" data-aos="fade-up" data-aos-offset="100" data-aos-easing="ease-in-sine" data-aos-duration="500"></div>
    </div>
    
    <div class="mySkillsBackground"></div>
</section>